<h1>Edit Country</h1>
<style>
    .nostyle {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        line-height: 200%;
    }

    .bordered {
        border: 1px solid black;
        padding: 2px;
    }

    .form-div {
        margin-top: 10px;
    }

    .error{
        margin-bottom: 10px;
        color: red;
        font-weight: bold;
    }
</style>

<div class="error">
    <ul class="nostyle">
        <% for(var i = 0; i< errors.length; i++) {%>
            <li><%= errors[i] %></li>
         <% } %>
    </ul>

</div>

<div>
    <form action="update" method="POST">
        <div class="form-div">
            <label for="co_code">Country Code</label>
            <input disabled value="<%= result.co_code %>" type="text" id="co_code" name="co_code" required>
            <input hidden value="<%= result.co_code %>" type="text" id="co_code" name="co_code" required>
        </div>
        <div class="form-div">
            <label for="co_name">Country Name</label>
            <input value="<%= result.co_name %>" type="text" id="co_name" name="co_name" required>
        </div>
        <div class="form-div">
            <label for="co_details">Country Details</label>
            <textarea name="co_details" id="co_details" cols="30" rows="4"><%= result.co_details %></textarea>
        </div>
        <div class="form-div" style="margin-left: 30px;">
            <button type="submit">Update</button>
        </div>
    </form>

</div>



<a class="form-div" href="/">Home</a>